# This is a client (initiator)
[DEFAULT]
#settings which apply to all the Sessions.
PersistMessages=Y
ConnectionType=initiator
 # FIX messages have a sequence ID, which shouldn't be used for uniqueness as specification doesn't guarantee anything about them. If Y is provided every time logon message is sent, server will reset the sequence.
FileStorePath=C:/Users/pauli/Documents/Fix
FileLogPath=./Logs/
 #Path where logs will be written
UseLocalTime=Y

UseDataDictionary=Y
 #Time in seconds before your session will expire, keep sending heartbeat requests if you don't want it to expire
ReconnectInterval=60
LogoutTimeout=5
LogonTimeout=30
 # Time in seconds before reconnecting
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
SendRedundantResendRequests=Y
RefreshOnLogon=Y
SocketNodelay=N
# PersistMessages=Y
ValidateUserDefinedFields=N
ValidateFieldsOutOfOrder=N
CheckLatency=N
HeartBtInt=30
TargetCompID=ROFX
SocketConnectHost=127.0.0.1
#SocketConnectHost='remarket.cloud.primary.com.ar'
SocketConnectPort=3500


# session definition
[SESSION]
ConnectionType=initiator
StartTime=00:00:00
 # Time when session starts and ends
EndTime=23:59:00
Trading SessionID=1

BeginString=FIXT.1.1
DefaultApplVerID=FIX.5.0SP2
AppDataDictionary=./spec/FIX50SP2.xml
TransportDataDictionary=./spec/FIXT11.xml
FileStorePath=./Sessions/

ScreenLogShowIncoming=Y
ScreenLogShowOutgoing=Y
ScreenLogEvents=Y

SenderCompID=pjseoane232
#OnBehalfCompID=pjseoane232